@keyframes sweep {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(200%);
  }
}

.container {
  position: relative;
  overflow: hidden;
  transition: opacity 300ms;
  opacity: 1;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: sweep 2.4s infinite linear;
  /* background-color: red; */
}

.sweepLight {
  height: 100%;
  transform-origin: top right;
}